* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
ul {
  margin-top: 0;
  padding-left: 0;
}
h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.0016em;
  color: #2e2f42;
  margin-top: 0;
  margin-bottom: 16px;
}
li {
  list-style: none;
}
/* task-1 style */

#categories {
  margin: 0 auto;
  width: 440px;
  padding: 24px;
  border-radius: 8px;
  background: #fff;
}
#categories .item {
  padding: 16px;
}
#categories .item {
  border-radius: 8px;
  background: #f6f6fe;
  margin-bottom: 24px;
}
#categories :last-child {
  margin-bottom: 0;
}
#categories .item li {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.0016em;
  color: #2e2f42;
  border-radius: 4px;
  border: 1px solid #808080;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  margin-bottom: 8px;
}
#categories .item :last-child {
  margin-bottom: 0;
}
/* /task-1 style */

/* task-2 style */
.gallery {
  width: 1440px;
  padding: 100px 156px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 24px;
  row-gap: 48px;
}

/* /task-2 style */

/* task-3 style */
.container {
  width: 480px;
  padding: 24px;
  border-radius: 8px;
  background: #fff;
}
h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.0016em;
  color: #2e2f42;
  margin: 0;
}
#name-input {
  width: 100%;
  height: 40px;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.0016em;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
  margin-bottom: 16px;
}
/* /task-3 style */

/* task-4 style */
.login-form {
  width: 408px;
  border-radius: 8px;
  background: #fff;
  padding: 24px;
}
/* label {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: #2e2f42;
  margin-bottom: 8px;
}
input {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
} */

/* /task-4 style */

/* task-5 style */


/* /task-5 style */

.widget {
  text-align: center;
  margin-top: 50px;
}

/* task-6 style */
#boxes {
  display: flex;
  flex-wrap: wrap;
}

#boxes div {
  width: 30px;
  height: 30px;
  margin: 5px;
}
/* /task-6 style */
